.bg-custom{
    background-color: rgb(11, 138, 145);
}

.special-img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover{
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

.card1{
    background-color: rgb(115, 173, 255);
}

.card2{
    background-color: rgb(93, 161, 255);
}

.card3{
    background-color: rgb(77, 151, 255);
}

a{
    text-decoration: none;
    color: black;
}




/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    .centerquery{
        justify-content: center !important;
        text-align: center !important;
    }

    .query_titles{
        font-size:3rem !important;
    }
}



